/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 1200px) {
	.menu li a {
	  padding: 19px 15px 18px;
	}
	[class*="four_reason_box_item_"]{
		width: 227px !important;
	}
	.menu_footer:last-child {
		margin-right: 39px;
		margin-left: 10px;
	}
	.w_1000{
		width: 970px;
	}
	.title{
		font-size: 40px;
	}
	.menu li:first-child a {
		padding-left: 15px;
		margin-left: 20px;
	}
	.sense_therapy{padding-right: 38px;}
	[class^="chart_dot"]{font-size: 15px;}
	.img_sense2_itm{padding-left: 0 !important;}
	.img_sense2_itm2{padding-left: 35px !important;}
	.slide_note_1{margin-left: 35%;}
	.nav{bottom: 150px;}
	.slide_note_4 h2{padding-bottom: 20px;}
	.fancybox img{width: 100%;}
	
	.d_none_1200{display: none;}
	.d_b_1200,.d_b_1200 [class*="button__"]{display: block;}
	.d_b_1200 .left_main_box,.d_b_1200 .right_main_box {width: 43%;}
	.img_4_3_graphic{width: 48%;}
}


@media only screen and (max-width: 992px) {
 body{min-width:750px;}
	header{height: auto;}
	.menu{padding-top: 10px;}
	.menu li:first-child a {
		padding-left: 15px;
		margin-left: 0;
	}
	#content {padding: 98px 0px 0px 0px;}
	.title {font-size: 34px;}
	.tit_on_img_after:after{bottom: -20px;}
	[class*="four_reason_box_item_"]{
		width: 22.5% !important;
		padding: 115px 0 0;
	}
	.img_box img,
	.img_sense,
	.img_sense2,
	.img_sense4,
	.img_mise{
		width: 100%;
		padding-left: 0px;
	}
	.img_sense2_itm2{padding-left: 0 !important;}
	.cars_2_2_item p.mb50,.cars_2_2_item p.mb25{margin-bottom: 10px;}
	.slide_note_1 {
	  margin-left: 8%;
	  margin-top: 60px;
	}
	.nav {bottom: 80px;}
	.slide_note_2,.slide_note_3, .slide_note_5, .slide_note_6, .slide_note_7, .slide_note_8, .slide_note_9 {
	  width: 550px;
	  padding-left: 0;
	  padding-top: 0;
	}
	.slide_note_2 p {font-size: 18px;}
	.slide_note_2 h2, .slide_note_3 h2, .slide_note_4 h2, .slide_note_5 h2, .slide_note_6 h2, .slide_note_7 h2, .slide_note_8 h2, .slide_note_9 h2{
		padding-bottom: 15px;
		font-size: 20px;
	}
	.slide_note_6 h2{padding-bottom: 0;}
	.main_slide {
	  padding-left: 90px;
	  padding-top: 35px;
	}
	.slide_note_3 div, .slide_note_4 div {
	  font-size: 20px;
	  line-height: 28px;
	}
	.tooltip_box {left: -277px;}
	.pt-992-null{padding-top: 0;}
	.img_sense3{width: 70%;padding-left: 0;}
	.img_und_txt{
		font-size: 11px;
		padding: 0;
	}
	.w_1000 {width: 740px;}
	.btn_und_img {padding-left: 0px;}
	.btn_und_img_item{
		width: 140px;
		font-size: 13px;
	}
	.blue_link{
		background-position: 80% 50%;
		font-size: 13px;
	}
	.carus_3_7_item .blue_link{background-position: 100% 50%;margin-bottom: 10px;}
	.sense_therapy.fz14{font-size: 13px;}
	.title2 {font-size: 32px;}
	.sense_therapy.pt16{
		padding-top: 0;
	}
	.med_pract img,.box_3_list,.img_graphic img{width: 100%;}
	.capsule_box1,.capsule_box_inner{height: 350px;background-size: contain;}
	.img_notebook_slide {
	  height: 340px;
	  width: 98%;
	}
	.wrapper.w_1000{overflow: inherit;}
	.img_sense{margin-left: 0;}
	.quote{margin-right: -40%;top: 75px;}
	[class^="chart_dot"]{
		width: 230px;
		font-size: 14px;
		white-space: inherit;
	}
	.sense_therapy {padding-right: 0px;}
	.active .scales_box_inner{
		margin-left: 0px;
	  -moz-transform: rotate(0deg);
	  -webkit-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  -ms-transform: rotate(0deg);
	  transform: rotate(0);
	}
	.scales_box_inner,.ecdc_img,.list_img_3_5_item_left img,#extra_img_box img{width: 100%;}
	.box_3_title{  font-size: 22px;
	  line-height: 28px;
	  padding-bottom: 10px;
	}
	.card__back .box_3_title {
	  padding-left: 7px;
	  padding-bottom: 10px;
	  font-size: 18px;
  	  line-height: 25px;
	}
	.box_3_list_item{margin-bottom: 15px;}
	.col-xs-4.itm_3-4{margin-left: -4px;}
	.list_img_3_5_item_right,.list_img_3_5_item_right:last-child{margin-bottom: 10px;}
	.title_on_list_box {width: 160px;}
	.carus_4_2_item .blue_link{background-position: 100% 50%;}
}

@media only screen and (max-width: 772px) {
	.menu{padding-top: 10px;}	
}

@media only screen and (max-width: 768px) {
 body{min-width:450px;}
	.menu li:first-child a {
		padding-left: 15px;
		margin-left: 0;
	}
	.menu li:last-child a {margin-right: 0px;}
	#content {padding: 54px 0px 0px 0px;}
	.title {font-size: 25px;}
	.tit_on_img_after{margin-top: 10px;margin-left: 0;margin-bottom: 15px;}
	.tit_on_img_after:after {bottom: 0px;}
	.menu li a {padding: 15px 20px 15px;}
	.text_img {font-size: 12px;line-height: 18px;}
	.w_1000 {width: 500px;}
	[class*="four_reason_box_item_"]{
		width: 242px !important;
	}
	.menu{width: auto;}
	.title_on_list_box:before,
	.title_on_list_box:after{top: 17px;}
	.menu li {float: none;}
	.menu li:first-child a, .menu li a {
	  padding: 8px;
	  text-align: center;
	  font-size: 15px;
	  display: block;
	}
	nav {display: none;}
	.butn_menu_haeder {display: block;}
	.four_reason_box2 .col-xs-3 {width: 50%;}
	.col-sx-3{width: 35%;}
	.col-sx-9{width: 65%;}
	.sense_therapy.fz14 {
	  font-size: 13px;
	  padding-top: 0px;
	  padding-right: 10px;
	}
	p {margin-bottom: 5px;}
	.blue_link {background-position: 85% 50%;}
	.bdrr_100_768{
		-webkit-border-radius: 50px !important;    
	            border-radius: 50px !important;
	}
	.title2 {font-size: 27px;}
	.wrapper.w_1000{overflow: inherit;}
	[class*="four_reason_box_item_"]:last-child {margin-right: 7px;}
	.quote {
		margin-right: -54%;
		top: 35px;
		background-size: 65%;
	}
	.tooltip_box{
		top: -48px;
		font-size: 12px;
		line-height: 16px;
  		left: -120px;
  		width: auto;
  		height: auto;
  		padding: 10px;
	}
	.list_img_3_5_item_left.two img.ml-56{margin-left: 0;}
	.list_img_3_5_item_right:before{
		font-size: 21px;
		line-height: 25px;
		width: 25px;
		height: 25px;
		top: -5px;
		left: -49px;
	}
	.list_img_3_5_item_right{font-size: 12px;line-height: 15px;}
	.bd_left_numb:before{bottom: 95px;}
	.list_img_3_5_right{margin-top: 35px;}
	.chart{
		width: 200px;
		height: 200px;
	}
	[class^="chart_dot"] {
	   width: 170px;
	   font-size: 11px;
	   white-space: inherit;
	}
	.chart_dot2,
	.chart_dot5{top: 30px;}
	.chart_dot3{top: 114%;}
	.chart_dot4 {right: 112%;top: 106%;}
	.chart_text{line-height: 180px;}
	.chart_text_inner {font-size: 14px;}
	.img_sense_it3{width: 95%;}
	.cars_1_item4 .col-sx-9{width: 100%;}
	.cars_1_item3 .sense_therapy{font-size: 12px;}
	.d_n_768{display: none;}
	.f_none_768{float: none;}
	.main_slide {
	  padding-left: 0;
	  padding-top: 0px;
	}
	.main_slide.two{
	  	padding-left: 50px;
  		padding-top: 10px;
  		line-height: 35px;
  	}
  	.slide_note_2,
  	.slide_note_3,
  	.slide_note_5,
  	.slide_note_7,
  	.slide_note_8,
  	.slide_note_9 {
	  width: 365px;
	}
	.slide_note_6,.slide_note_7{width: 428px;font-size: 12px;}
  	.slide_note_3,.slide_note_4,.slide_note_5,.slide_note_6,.slide_note_7,.slide_note_8,.slide_note_9{
  		padding-top: 10px;
  	  	padding-left: 50px;
  	}
  	.slide_note_5,.slide_note_9{
  		font-size: 14px;
  		line-height: 15px;
  	}
	.slide_note_2 h2,
	.slide_note_3 h2,
	.slide_note_4 h2,
	.slide_note_5 h2,
	.slide_note_6 h2,
	.slide_note_7 h2,
	.slide_note_8 h2,
	.slide_note_9 h2 {
	  padding-bottom: 0;
	  font-size: 15px;
	  line-height: 35px;
	}
	.slide_note_8 .list_in_list li,
	.slide_note_9 .list_in_list li {
	  margin-bottom: 15px;
	}
	.dwn_arr{margin: -3px 0;}
	.slide_note_3 div,
	.slide_note_4 div {
	  font-size: 14px;
	  line-height: 20px;
	}
	.slide_note_2 p{line-height: 20px;}
	.slide_note_1 {
	  margin-left: 15%;
	  margin-top: 35px;
	  width: 370px;
	  font-size: 30px;
	  line-height: 45px;
	}
	.prev2 {
	  width: 125px;
	  height: 30px;
	  font-size: 18px;
	  line-height: 26px;
	  padding-left: 44px;
	}
	.next2 {
	  width: 125px;
	  height: 30px;
	  font-size: 18px;
	  line-height: 26px;
	  padding-left: 10px;
	}
	.next2:after{top: 2px;}
	.prev2:after{top: 5px;}
	.nav {
	  margin-left: -130px;
	  bottom: 98px;
	}
	.carus_2_4_item .col-sx-3,
	.carus_4_2_item.col-sx-3{display: none;}
	.carus_2_4_item .col-sx-9,
	.carus_4_2_item.col-sx-9{width: 100%;}
	.carus_2_4_item .col-sx-9 .blue_link{  background-position: 100% 50%;}
	.ecdc_img {width: 100%;}
	.box_3_title {
	  font-size: 17px;
	  line-height: 20px;
	  padding-bottom: 10px;
	}
	.box_3_list_item {
	  font-size: 12px;
	  line-height: 15px;
	}
	.mb_10_768{margin-bottom: 10px;}
	.title_on_list_box {width: 145px;}
	.title_on_list_box:before{left: -165px;width: 165px;}
	.title_on_list_box:after{right: -165px;width: 165px;background-position: -115px 0;}
	.button__one h4{font-size: 13px;line-height: 17px;}
	.left_main_box,.right_main_box {
		line-height: 15px;
		font-size: 12px;
	}
	.d_b_1200 .three_reason{padding-bottom: 10px;}
	h1.logo {margin-bottom: 15px;}
	.img_4_3_graphic {width: 48%;}
	.box_4_3_car{padding-right: 10px;}
	.box_4_3_car p{margin-bottom: 10px;}
	.xoverlay{width: 50%;}
	.xoverlay p{
		padding-top: 70px;
		font-size: 20px;
		line-height: 24px;
	}
	.more_know_link{line-height: 177px;font-size: 20px;}
	.list1_item{font-size: 13px;line-height: 17px;}
}
@media only screen and (min-width: 768px) {
	nav{display: block !important;}
}
@media only screen and (max-width: 530px) {
	body{min-width:287px;}
	.container_12 {width: 287px;}
	h1.logo{margin-bottom: 15px;}
	.menu {margin-top: 0;}
	.menu li{float: none;}
	.menu li:first-child a,.menu li a{
		padding: 8px;
		text-align: center;
	  	font-size: 15px;
	  	display: block;	
	}
	.menu li:last-child a {margin-right: 0px; }
	#content {padding: 54px 0px 0px 0px;}
	.tit_on_img_after{
		margin-top: 0;
		padding-top: 0;
		line-height: 38px;
	}
	.four_reason_box {padding-top: 15px;}
	[class*="four_reason_box_item_"]{margin: 10px 23px;}
	.four_reason_box2 .col-xs-3 {width: 100%;}
	.img_und_txt {font-size: 15px;}
	.title2 {font-size: 21px;line-height: 30px;}
	.w_1000{width: auto;}
	.w_100_320{width: 100%;}
	.f_l_no_320{float: none !important;display: inline-block !important;}
	.f_l_no2_320{float: none;display: block;width: 100%;text-align: center;}
	.al_c_320{text-align: center;}
	.soc_ic{margin-top: 12px;}
	.info_soc {
	   padding-top: 30px;
	   padding-bottom: 30px;
	}
	h2.logo_footer a{margin: auto;}
	footer .soc_text{padding-left: 0;}
	.menu_footer,.menu_footer:last-child{margin: 0;}
	.menu_footer li a{margin: 7px;}
	.d_n_320,
	.title_on_list_box:before,
	.title_on_list_box:after{display: none;}
	.vv_530{visibility: visible;}
	.col-sx-9_320{width: 100%;}
	.blue_link { background-position: 100% 50%;}
	.owl-theme .owl-controls {
	  margin-top: 25px;
	  margin-bottom: 30px;
	}
	.carous_four .owl-wrapper-outer{
		/*min-height: 530px;*/
	}
	.mt_5{margin-top: 10px;}
	.chart {
	  width: auto;
	  height: 320px;
	  border: none;
	  margin: 0;
	  -webkit-border-radius: 0;
	          border-radius: 0;
	  position: static;
	}
	.al__none_320{text-align: inherit;}
	.chart_text{line-height: normal;}
	[class^="chart_dot"]{
		position: relative;
		width: 290px;
		padding: 5px 0 15px 40px;
	}
	.chart_dot1,.chart_dot3{
		left: 0;
		top: 0;
		margin: 0;
	}
	.chart_dot2{
		left: 0;
		margin: 0;
	}
	.chart_dot4 ,.chart_dot5{
	  right: 0;
	  top: 0;
	  margin: 0;
	}
	[class^="chart_dot"]:before{
		width: 30px;
		height: 30px;
		left: 0;
		line-height: 31px;
		text-align: center;
		top: 0;
	}
	.chart_dot2, .chart_dot5,.chart_dot2:before{top: 0;}
	.chart_dot1:before {
	   left: 0; 
	   margin-left: 0px; 
	}
	.chart_text_inner {
	  font-size: 14px;
	  width: 250px;
	  padding-bottom: 20px;
	}
	[class^="chart_item"]{
		width: 210px;
		padding: 30px 8px;
		top: 10px;
		margin: 0px 0 0 -102px;
		min-height: 300px;
	}
	[class^="chart_item"] h4{
		font-size: 18px;
  		line-height: 1.2em;
	}
	.cars_1_item4 .sense_therapy .op_sans_bold.fz18{font-size: 14px;}
	.menu{width: auto;}
	.butn_menu_haeder{display: block;}
	nav{display: none;}
	.cars_2_2_item p.mb50, .cars_2_2_item p.mb25 {
	  margin-bottom: 5px;
	  line-height: 20px;
	}
	[class*="slide_note_"]{
		color: #071a22;
		width: 290px;
		margin-left: 0;
  		margin-top: 0;
  		padding: 0;
	}
	.slide_note_1{
		padding-left: 20px;  
		font-size: 21px;
		line-height: 23px;}
	.img_notebook_slide {
  		background:none;
  		height: auto;
  		min-height: 1500px;
  	}
  	.main_slide {
	 	padding-left: 0 !important;
		padding-top: 0 !important;
		position: static !important;
		display: block !important;
		opacity: 1 !important;
	}
	.slide_note_8 .list_in_list li,
	.slide_note_9 .list_in_list li {
	  margin-bottom: 0px;
	  font-size: 13px;
	  line-height: 20px;
	}
	.slide_note_2 p ,.slide_5_item{
	  font-size: 13px;
	  line-height: 20px;
	}
	.nav{display: none;}
	.dwn_arr {
	  margin: 0;
	  display: none;
	}
	.slide_note_8 .list_in_list li, 
	.slide_note_9 .list_in_list li{padding-left: 0;}
	.slide_note_2 h2, 
	.slide_note_3 h2, 
	.slide_note_4 h2, 
	.slide_note_5 h2, 
	.slide_note_6 h2, 
	.slide_note_7 h2, 
	.slide_note_8 h2, 
	.slide_note_9 h2{line-height: 20px;padding:5px 0;}
	.slide_note_5 .list_in_list li, 
	.slide_note_8 .list_in_list li, 
	.slide_note_9 .list_in_list li{background: none;}
	.list_img_3_5_item_right:before{left: -43px;}
	.bd_left_numb:before{left: 6px;}
	.active_320{
		color: #071A22;
	}
	.list_img_3_5_item_right.active_320:before{
		background: #fbea26;
		background: -moz-linear-gradient(top, #fbea26 0%, #f8c11b 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbea26), color-stop(100%,#f8c11b));
		background: -webkit-linear-gradient(top, #fbea26 0%,#f8c11b 100%);
		background: -o-linear-gradient(top, #fbea26 0%,#f8c11b 100%);
		background: -ms-linear-gradient(top, #fbea26 0%,#f8c11b 100%);
		background: linear-gradient(to bottom, #fbea26 0%,#f8c11b 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbea26', endColorstr='#f8c11b',GradientType=0 );
		color: #FFF;
		border: 3px solid;
		border-color: #fbea26 transparent #f8c11b;
	}
	.d_b_1200 .left_main_box, .d_b_1200 .right_main_box {width: 100%;}
	.op_1_530{opacity: 1;}
	.title_on_list_box {width: auto;}
	.carus_4_2_item .blue_link {background-position: 90% 50%;}
	.more_know_link{line-height: 185px;}
	.xoverlay p.pt100{padding-top: 53px;}
}