@import "../css/reset.css";
@import "../css/bootstrap.css";
@import "../css/owl.carousel.css";
@import "../css/owl.theme.css";
@import "../css/owl.transitions.css";
@import "../css/jquery.fancybox.css";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Cuprum&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Cuprum|Open+Sans:400,300|Open+Sans+Condensed:300&subset=latin,cyrillic);
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}
/* Global properties ======================================================== */
html {width:100%}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size:14px;
  line-height:22px;
  color:#071a22;
  /*min-width:960px;*/
  /*background:url(../images/body_bg.jpg) 50% 0 repeat #000;*/
  -webkit-text-size-adjust: none;
}
/*.main{
  width: 960px;
  margin:0 auto;
}*/
.mr_auto{margin: auto;}
*{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/*----------------------> Links And buttons <------------------*/
a {
  color:#;
  outline:none;
  text-decoration:none;
  cursor:pointer;
}
a:hover{
  color:#;
  text-decoration:none;
}
.blue_link{
  display: inline-block;
  color: #00BAFF;
  padding-right: 20px;
  background: url(../images/link_arr.png) 100% 50% no-repeat;
}
.blue_link2{color: #00BAFF;}
.button{
  display:inline-block;
  padding:0 0 0 0;
  margin: 0 0 0 0;
  font-size: px;
  line-height: px;
  color:#;
 }
.button:hover{
  background:;
  color:#000;
}
.butn_menu_haeder{
  display: none;
  border: none;
  outline: none;
  position: absolute;
  cursor: pointer;
  top: -35px;
  right: 0;
  width: 25px;
  height: 25px;
  background: none;  
}
.butn_menu_haeder:before{
  content:'';
  display: block;
  height: 4px;  
  width: 100%;
  position: absolute;
  top: 0; 
  left: 0;  
   background-color: #fff;
  -webkit-box-shadow: 0 4px 0 #39ca74, 0 8px 0 #fff,0 12px 0 #39ca74,0 16px 0 #fff;
   box-shadow: 0 4px 0 #39ca74, 0 8px 0 #fff,0 12px 0 #39ca74,0 16px 0 #fff; 
}
/*----------------------> Basic Classes <------------------*/
.reg {text-transform:uppercase;}
.f_left {float:left;}
.f_right {float:right;}
.al_left {text-align:left !important;}
.al_right {text-align:right;}
.al_center {text-align:center;}
.al_just{text-align:justify;}

.it{font-style:italic}
.norm{font-style:normal}
.let{letter-spacing:-1px}
.let_0{letter-spacing:0px}
.let-01{letter-spacing: -0.1px;}
.let-02{letter-spacing: -0.2px;}
.let-03{letter-spacing: -0.3px;}
.let-05{letter-spacing: -0.5px;}

.val_mid{vertical-align: middle;}
.val_bot{vertical-align: bottom;}

.vh{visibility: hidden;}
.vv{visibility: visible;}

.full_w{
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.op_0{opacity: 0;}
.op_1{opacity: 1;}
/*----------------------> Indents Zero <------------------*/

.m_bot_zero{ margin-bottom:0 !important;}
.m_left_zero{ margin-left:0 !important;}
.m_top_zero{ margin-top:0 !important;}
.m_right_zero{ margin-right:0 !important;}
.p_bot_zero{ padding-bottom:0 !important;}
.p_left_zero{ padding-left:0 !important;}
.p_top_zero{ padding-top:0 !important;}
.p_right_zero{ padding-right:0 !important;}

/*----------------------> Positions <------------------*/
.p_abs{position: absolute;}
.p_rel{position: relative;}
.p_fix{position: fixed;}
.clear {clear:both;width:100%;line-height:0;font-size:0;}
.clearfix:after{
  content:"";
  display: block;
  width: 100%;
  height: 0;
  clear:both;
}
.wrapper {overflow:hidden}
.f_elem *:first-child{margin-top: 0 !important;}
.f_elem1 *:first-child{margin-top: 0 !important;border: none !important;}

/*----------------------> Displays <------------------*/

.d_block{ display:block;}
.d_ib{ display:inline-block;}
.d_none{ display:none;}
.d_tc{ display:table-cell;}
.d_t{ display:table;}

/*----------------------> Basic Colors <------------------*/

.white{color: #fff;}
.black{color: #000;}
.black1{color:#071a22;}
.red{color: red;}
.yellow{color: yellow;}
.dark_blue{color: #123F5E;}
.gray{color: #99a7ad;}

.bg_yellow{background: #fadf13;}
.bg_yellow2{background: #fae014;}
.bg_white{background: #fff;}
.bg_black{background: #000;}
.bg_dark_blue{background: #0B6581;}
.bg_none{ background-color:none !important;}

/*======================> Header <======================*/

header {
  left: 0;
  top: 0;
  position: fixed;
  height: 59px;
  width: 100%;
  background-color: #17c0e4;
  z-index: 9;
}
h1.logo{
  margin-top: 15px;
}
h1.logo a{
  display:block;
  width:168px;
  height:24px;
  background:url(../images/logo.png) 0 0 no-repeat;
  text-decoration:none;
  text-indent:-9999px;
}
.menu li{
  float: left;
}
.menu li a{
  padding: 19px 25px 18px 25px;
  color: #fff;
  display: inline-block;
}
.menu li a:hover,.menu li.current a{
  background-color: #53d3ee;
  color: #fff;
}
.menu li:first-child a{
  padding-left: 26px;
  margin-left: 25px;
}
.menu li:last-child a{
  /*padding-right: 0;*/
  margin-right: -30px;
}
/*=====================> Content ========================*/
#content {
  padding:59px 0px 0px 0px;
  min-height: 1500px;
  
}
.bkg_img{
  background: url(../images/main_img_content.png) 0 0 no-repeat;
  height: 320px;
  width: 100%;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}
.tit_on_img_after{
  position: relative;
  padding-top: 45px;
  margin-left: -4px;
  margin-bottom: 52px;
}
.tit_on_img_after:after{
  content: "";
  position: absolute;
  bottom: -29px;
  left: 2px;
  width: 136px;
  height: 4px;
  background:  url(../images/tit_on_img_after.png) 0 0 no-repeat;
}
.text_img{
  margin-left: -2px;
}
.four_reason_box{
  padding-top: 42px;
  padding-bottom: 20px;
}
.four_reason_box_item{
  padding-bottom: 44px;
}
[class*="four_reason_box_item_"]{
  float: left;
  position: relative;
  margin: 6px 7px;
  height: 265px;
  padding-top: 115px;
  width: 242px !important;
  border: 1px solid #f5f5f5;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0px 1px 1px #e0e0e0;
  box-shadow: 0px 1px 1px #e0e0e0;
  text-align: center;
}
/*[class*="four_reason_box_item_"]:first-child{
  margin-left: 0;
}*/
[class*="four_reason_box_item_"]:last-child{
  margin-right: 0;
}
.four_reason_box_item_1:before{
  content: "";
  position: absolute;
  left: -1px;
  right: -1px;
  top: 0;
  background-color: #ffcf4c;
  height: 13px;
  -webkit-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
}
.four_reason_box_item_2:before{
  content: "";
  position: absolute;
  left: -1px;
  right: -1px;
  top: 0;
  background-color: #4cbeff;
  height: 13px;
  -webkit-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
}
.four_reason_box_item_3:before{
  content: "";
  position: absolute;
  left: -1px;
  right: -1px;
  top: 0;
  background-color: #ff4c76;
  height: 13px;
  -webkit-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
}
.four_reason_box_item_4:before{
  content: "";
  position: absolute;
  left: -1px;
  right: -1px;
  top: 0;
  background-color: #bbe331;
  height: 13px;
  -webkit-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
}

.four_reason_box_item_1:after{
  position: absolute;
  content:"";
  background: url(../images/one.png) 0 0 no-repeat;
  width: 21px;
  height: 36px;
  right: 10px;
  bottom: 10px;
}
.four_reason_box_item_2:after{
  position: absolute;
  content:"";
  background: url(../images/two.png) 0 0 no-repeat;
  width: 22px;
  height: 35px;
  right: 10px;
  bottom: 10px;
}
.four_reason_box_item_3:after{
  position: absolute;
  content:"";
  background: url(../images/three.png) 0 0 no-repeat;
  width: 23px;
  height: 35px;
  right: 10px;
  bottom: 10px;
}
.four_reason_box_item_4:after{
  position: absolute;
  content:"";
  background: url(../images/four.png) 0 0 no-repeat;
  width: 24px;
  height: 35px;
  right: 10px;
  bottom: 10px;
}
.hr1{
  border: none;
  margin: 0;
  border-bottom: 1px dashed #e2ebed;
}
.img_box{
  padding-top: 41px;
  padding-bottom: 25px;
}
.img_und_txt{
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  padding: 0 11px;
}
.hr2{
  border: none;
  margin: 0;
  border-bottom: 1px solid #e2ebed;
}
.img_sense{
  margin-left: 54px;
}
.tooltip{
  width: 362px;
  position: relative;
}
.tooltip img{width: 100%;}
.quote{
  background: url(../images/quote.png) 0 0 no-repeat;
  width: 48px;
  height: 48px;
  position: absolute;
  right: 50%;
  top: 95px;
  margin-right: -40%;
  cursor: pointer;
}
.quote:hover .tooltip_box{
  display: block;
}
.tooltip_box{
  width: 434px;
  height: 120px;
  padding: 20px;
  display: none;
  position: absolute;
  top: -65px;
  left: -305px;
  background-color: #f9d411;
  z-index: 9;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.three_reason{
  background: url(../images/box_blue.jpg) 0 6px no-repeat; 
  padding-left: 22px;
  padding-bottom: 18px;
}
.w_1000{
  width: 1020px;
  margin: auto;
}

.img_sense2{
  padding-left: 99px;
}
.btn_und_img{padding-left: 60px;}
.btn_und_img_item{
  display: block;
  float: left;
  width: 183px;
  height: 40px;
  color: #FFF;
  font-size: 16px;
  line-height: 40px;
  text-shadow: 1px 1px 2px #edc00d;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  letter-spacing: 0.4px;
  border: none;
  cursor: pointer;
  background: #fbe816; /* Old browsers */
  background: -moz-linear-gradient(top,  #fbe816 0%, #f7bd0b 99%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbe816), color-stop(99%,#f7bd0b)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fbe816 0%,#f7bd0b 99%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fbe816 0%,#f7bd0b 99%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fbe816 0%,#f7bd0b 99%); /* IE10+ */
  background: linear-gradient(to bottom,  #fbe816 0%,#f7bd0b 99%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbe816', endColorstr='#f7bd0b',GradientType=0 ); /* IE6-9 */
}
.btn_und_img_item:first-child{
  -webkit-border-radius: 50px 0 0 50px;
          border-radius: 50px 0 0 50px;
}
.btn_und_img_item:last-child{
  -webkit-border-radius: 0 50px 50px 0;
          border-radius: 0 50px 50px 0;
}
.btn_und_img_item:hover,
.btn_und_img_item.active{
  background: #f79b0b; /* Old browsers */
  background: -moz-linear-gradient(top,  #f79b0b 0%, #fbcc16 99%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f79b0b), color-stop(99%,#fbcc16)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f79b0b 0%,#fbcc16 99%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f79b0b 0%,#fbcc16 99%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f79b0b 0%,#fbcc16 99%); /* IE10+ */
  background: linear-gradient(to bottom,  #f79b0b 0%,#fbcc16 99%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f79b0b', endColorstr='#fbcc16',GradientType=0 ); /* IE6-9 */ 
}
.img_sense3{
  padding-left: 140px;
}
.list_res.two .three_reason{padding-bottom: 22px; }
.carous_three .owl-theme .owl-controls{margin-top: 0; }
.img_sense4{
  padding-left: 23px;
}
/*================owl-carousel===================*/
.owl-theme .owl-controls .owl-buttons .owl-prev{
  background: #fff url(../images/prev_btn.png) 0 bottom no-repeat;
  height: 47px;
  width: 47px;
  display: inline-block;
  margin-right:25px;
}
.owl-theme .owl-controls .owl-buttons .owl-prev:hover,
.owl-theme .owl-controls .owl-buttons .owl-next:hover{
  background-position: 0 top;
}
.owl-theme .owl-controls .owl-buttons .owl-next{
  background: #fff url(../images/next_btn.png) 0 bottom no-repeat;
  width: 47px;
  height: 47px;
  display: inline-block;
  margin-left:25px;
}
.owl-theme .owl-controls{margin-top: 46px;margin-bottom: 50px;}
.owl-controls.clickable{
  display: block !important;
}
.car_in_car.owl-theme .owl-controls .owl-page{
  background-color: #d4e0e8;
  width: 14px;  
  height: 14px;  
  display: block; 
  float: left;
  margin-right: 10px;
}
.car_in_car .owl-buttons,.car_in_car .owl-numbers{display: none !important;}
/*.car_in_car.owl-carousel.owl-theme .owl-dots .owl-dot.active span,
.car_in_car.owl-carousel.owl-theme .owl-dots .owl-dot:hover span,*/
.car_in_car.owl-theme .owl-controls .owl-page.active , 
.car_in_car.owl-theme .owl-controls.clickable .owl-page:hover {
  background-color: #17b7d9;
}
.car_in_car.owl-carousel.owl-theme .owl-controls{margin: 0;}
.car_in_car.owl-theme .owl-controls{text-align: left;}
.owl-theme .owl-controls .owl-page span {
  margin: 13px 15px;
}
.car_in_car .owl-pagination{
  position: inherit;
  height: inherit;
  width: inherit;
  margin: inherit;
  overflow: inherit;
  margin-top: -5px;
  left: inherit;
  right: inherit;
  bottom: inherit;
}
.owl-pagination{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 50px;
  height: 47px;
  overflow: hidden;
}
.carous_four .owl-theme .owl-controls{margin-top: 31px; }
/*.car_in_car .owl-item.active{width: 480px !important;}*/
/*================owl-carousel===================*/

.soc_ic{
  height: 32px;
  width: 32px;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  display: block;
  margin-right: 5px;
}
.od{
  background: #D7E1E3 url(../images/od.png) 50% 50% no-repeat;
}
.od:hover{background-color: #f2720c;}
.fc{
  background: #D7E1E3 url(../images/fc.png) 50% 50% no-repeat;
}
.fc:hover{background-color: #3a5795;}
.tw{
  background: #D7E1E3 url(../images/tw.png) 50% 50% no-repeat;  
}
.tw:hover{background-color: #55acee;}
.info_soc{
  padding-top: 29px;
  padding-bottom: 47px;
}
.med_pract{
  border: 1px solid #ececec;
  padding: 9px;
}
.radio_item1{margin-top: 13px;margin-bottom: 24px;}
input[type="radio"] {
  display: none;
}
.med_practice{display: block;margin-top: 6px;}
.med_practice:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../images/radio_icon.png) 0 top no-repeat;
  margin-right: 9px;
  margin-top: 3px;
}
input[type="radio"]:checked + .med_practice:before {
  background-position: 0 bottom;
}
.bdrr50{  
  -webkit-border-radius:50px !important;
  border-radius:50px !important;
}
.img_notebook_slide{
  background: url(../images/img_notebook.png) 0 0 no-repeat;
  width: 100%;
  -webkit-background-size: 100%;
       -o-background-size: 100%;
          background-size: 100%;
  height: 643px;
  position: relative;
}
.box_3_3{
  position: relative;
  padding: 20px 20px 30px 20px;
}
.card__back .box_3_3{
  padding: 20px 20px 40px 20px;
}
.box_3_3:before{
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  top: 10px;
  border: 2px dashed #fff082;
}
.box_3_3_button{
  position: relative;
  width: 191px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  margin-top: -25px;
  padding-right: 43px;
  background-color: #e7c306;
  outline:none;
  border: none;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.box_3_3_button:after{
  content: "";
  position: absolute;
  background: #d9b706 url(../images/arr_3_carousel.png) 50% 50% no-repeat;
  right: 0;
  top: 0;
  bottom: 0;
  left: 156px;
  -webkit-border-radius: 0 3px 3px 0;
          border-radius: 0 3px 3px 0;
}
.back_flip_btn.box_3_3_button:after{
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
 -webkit-border-radius: 3px 0 0 3px ;
         border-radius: 3px 0 0 3px; 
}
.box_3_title{
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  padding-bottom: 30px;
}
.card__back .box_3_title{
  padding-left: 15px;
  padding-right: 10px;
  padding-bottom: 0;
}
.box_3_list{
  width: 340px;
  margin: auto;
  counter-reset: list ;
  position: relative;
}
.box_3_list_item{
  padding-left: 32px;
  margin-bottom: 20px;
}
.box_3_list_item:before{
  font-size: 14px;
  position: absolute;
  left: 0;
  counter-increment: list;
  content: counter(list)"";
  line-height: 20px;
  text-align: center;
  background-color: #FFF;
  width: 20px;
  font-style: normal;
  height: 20px;
  -webkit-border-radius: 50px;
          border-radius: 50px;
}

/* click effect */
.card.effect__click.flipped .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__click.flipped .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}
/* click effect */
.card {
  position: relative;
  height: 400px;
}
/* card fronts and backs */
.card__front,
.card__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card__front,
.card__back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}
.card__back {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
/* card fronts and backs */
.nav{
  position: absolute;
  left: 50%;
  bottom: 120px;
  margin-left: -170.5px;
}
.prev2/*,.bx-prev*/{
  width: 169px;
  height: 44px;
  display: inline-block;
  border: 2px solid #fff; 
  -webkit-border-radius: 3px;
          border-radius: 3px;
  color: #fff;
  font-size: 24px;
  line-height: 35px;
  padding-left: 75px;
  position: relative;
}
.prev2:after/*,.bx-prev:after*/{
  background: url(../images/arrow_in_btn.png) 0px top no-repeat;
  width: 19px;
  height: 19px;
  content: "";
  position: absolute;
  top: 10px;
  left: 20px;
}
.next2/*,.bx-next*/{
  width: 169px;
  height: 44px;
  display: inline-block;
  border: 2px solid #fff; 
  -webkit-border-radius: 3px;
          border-radius: 3px;
  color: #fff;
  font-size: 24px;
  line-height: 35px;
  padding-left: 20px;
  position: relative;
}
.next2:after/*,.bx-next:after*/{
  background: url(../images/arrow_in_btn.png) 0px bottom no-repeat;
  width: 19px;
  height: 19px;
  content: "";
  position: absolute;
  top: 10px;
  right: 20px;
}
.main_slide{
  padding-left: 140px;
  padding-top: 50px;
}
.slide_note_1{
  font-size: 48px;
  line-height: 59px;
  border-left: 9px solid #8dbfd0;
  padding-left: 20px;
  margin-left: 50%;
  margin-top: 110px;
  width: 450px;
}
.slide_note_2{
    padding-top: 20px;
  padding-left: 30px;
}
.slide_note_3,
.slide_note_5,
.slide_note_6,
.slide_note_7,
.slide_note_8,
.slide_note_9{
  width: 700px;
  padding-left: 20px;
  padding-top: 30px;
}
.slide_note_2 h2,
.slide_note_3 h2,
.slide_note_4 h2,
.slide_note_5 h2,
.slide_note_6 h2,
.slide_note_7 h2,
.slide_note_8 h2,
.slide_note_9 h2{
  font-size: 36px;
  line-height: 44px;
  padding-bottom: 40px;
}
.slide_note_2 p{
  font-size: 24px;
  line-height: 30px;
  border-left: 9px solid #8dbfd0;
  padding-left: 20px;
}
.slide_note_3 div,
.slide_note_4 div{
  border-left: 9px solid #8dbfd0;
  font-size: 24px;
  line-height: 36px;
  padding-left: 20px;
  font-weight: 300;
}
.slide_note_5,
.slide_note_6,
.slide_note_7,
.slide_note_8,
.slide_note_9{
  font-size: 20px;
  line-height: 24px;
}
.slide_5_item{
  border-left: 9px solid #8dbfd0;
  padding-left: 20px;
}
.slide_note_5 .list_in_list li,
.slide_note_8 .list_in_list li,
.slide_note_9 .list_in_list li{
  padding-left: 16px;
  background: url(../images/list_in_list.png) 0 50% no-repeat;
} 
.slide_note_8 .list_in_list li,.slide_note_9 .list_in_list li{margin-bottom: 30px;}
.dwn_arr{
  background: url(../images/dwn_arr.png) 0 0 no-repeat;
  width: 12px;
  height: 16px;
  margin: 5px 0;
}
.bd_left_numb{
  padding-left: 34px;
  margin-left: 10px;
  position: relative;
}
.bd_left_numb:before{
  border-left: 1px dashed #dcd9bd;
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  bottom: 80px;
}
.list_img_3_5_item_left{
  display: none;
}
.list_img_3_5_item_left.active{
  display: block;
}
.list_img_3_5_right{
  counter-reset: number;
  margin-top: 45px;
}
.list_img_3_5_item_right{
  position: relative;
  color: #DCD9BD;
  margin-bottom: 50px;
}
#click_list li{
  cursor: pointer;
}
.list_img_3_5_item_right:last-child{
  margin-bottom: 0;
}
.list_img_3_5_item_right.active{
  color: #071A22;
}
.list_img_3_5_item_right:before{
  position: absolute;
  left: -60px;
  top: -18px;
  color: #DCD9BD;
  background-color: #fff;
  counter-increment: number;
  content: counter(number) " ";
  font-size: 24px;
  line-height: 45px;
  width: 45px;
  height: 45px;
  border: 3px solid #dcd9bd;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-align: center;
  -webkit-border-radius: 50px;
          border-radius: 50px;
}
.list_img_3_5_item_right.active:before{
  background: #fbea26; /* Old browsers */
  background: -moz-linear-gradient(top,  #fbea26 0%, #f8c11b 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbea26), color-stop(100%,#f8c11b)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fbea26 0%,#f8c11b 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fbea26 0%,#f8c11b 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fbea26 0%,#f8c11b 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fbea26 0%,#f8c11b 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbea26', endColorstr='#f8c11b',GradientType=0 ); /* IE6-9 */
  color: #FFF;
  border: 3px solid;
  border-color: #fbea26 transparent #f8c11b;
}
.box_4_3_car{
  
}
.yellow_jaw{
  padding: 20px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.death_img1,
.death_img2,
.death_img3,
.death_img4,
.death_img5,
.death_img6{
  width: 333px;
  height: 240px;
  display: block;
}
.death_img1{background: url(../images/death_img1.jpg) 0 0 no-repeat;}
.death_img2{background: url(../images/death_img2.jpg) 0 0 no-repeat;}
.death_img3{background: url(../images/death_img3.jpg) 0 0 no-repeat;}
.death_img4{background: url(../images/death_img4.jpg) 0 0 no-repeat;}
.death_img5{background: url(../images/death_img5.jpg) 0 0 no-repeat;}
.death_img6{background: url(../images/death_img6.jpg) 0 0 no-repeat;}
.xoverlay {
  position: relative;
  overflow: hidden;
  perspective: 300px;
  -webkit-perspective: 300px;
  -ms-perspective: 300px;
  -o-perspective: 300px;
}
.xoverlay .x-img-main {
  width: 100%;
}
.x-left .xoverlay-box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: block;
  left: -500px;
  background: #fae014;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
.x-left:hover .xoverlay-box {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fae014;
}
.more_know_link{
  padding-right: 28px;
  background: url(../images/black_arr.png) 100% 50% no-repeat;
  height: 14px;
  width: 18px;
  vertical-align: middle;
  line-height: 240px;
  color: #071A22;
}
.center_main_box,
.title_on_list_box{
  width: 200px;
  margin: auto;
}
.title_on_list_box{
  font-size: 14px;
  line-height: 17px;
  color: #675C00;
  text-align: center;
  background-color: #FFF8C3;
  position: relative;
  padding: 17px 20px;
  -webkit-border-radius: 3px 3px 0 0;
          border-radius: 3px 3px 0 0;
}
.title_on_list_box:before{
  content: "";
  position: absolute;
  left: -285px;
  top: 10px;
  background: url(../images/preboitic.png) 0 0 no-repeat;
  height: 49px;
  width: 285px;
}
.title_on_list_box:after{
  content: "";
  position: absolute;
  right: -280px;
  top: 10px;
  background: url(../images/proboitic.png) 0 0 no-repeat;
  height: 49px;
  width: 280px;
}
.center_list_item:nth-child(1){
  background: #fae214; /* Old browsers */
  background: -moz-linear-gradient(top,  #fae214 0%, #fadb12 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fae214), color-stop(100%,#fadb12)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fae214 0%,#fadb12 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fae214 0%,#fadb12 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fae214 0%,#fadb12 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fae214 0%,#fadb12 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fae214', endColorstr='#fadb12',GradientType=0 ); /* IE6-9 */
}
.center_list_item:nth-child(2){
  background: #fadb12; /* Old browsers */
  background: -moz-linear-gradient(top,  #fadb12 0%, #f9d310 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fadb12), color-stop(100%,#f9d310)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fadb12 0%,#f9d310 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fadb12 0%,#f9d310 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fadb12 0%,#f9d310 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fadb12 0%,#f9d310 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fadb12', endColorstr='#f9d310',GradientType=0 ); /* IE6-9 */
}
.center_list_item:nth-child(3){
  background: #f9d310; /* Old browsers */
  background: -moz-linear-gradient(top,  #f9d310 0%, #f8cb0e 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9d310), color-stop(100%,#f8cb0e)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f9d310 0%,#f8cb0e 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f9d310 0%,#f8cb0e 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f9d310 0%,#f8cb0e 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f9d310 0%,#f8cb0e 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9d310', endColorstr='#f8cb0e',GradientType=0 ); /* IE6-9 */
}
.center_list_item:nth-child(4){
  background: #f8cb0e; /* Old browsers */
  background: -moz-linear-gradient(top,  #f8cb0e 0%, #f7c10c 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8cb0e), color-stop(100%,#f7c10c)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f8cb0e 0%,#f7c10c 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f8cb0e 0%,#f7c10c 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f8cb0e 0%,#f7c10c 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f8cb0e 0%,#f7c10c 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8cb0e', endColorstr='#f7c10c',GradientType=0 ); /* IE6-9 */
}
.center_list_item:nth-child(5){
  background: #f7c10c; /* Old browsers */
  background: -moz-linear-gradient(top,  #f7c10c 0%, #f7c10c 100%, #f7bd0b 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7c10c), color-stop(100%,#f7c10c), color-stop(100%,#f7bd0b)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f7c10c 0%,#f7c10c 100%,#f7bd0b 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f7c10c 0%,#f7c10c 100%,#f7bd0b 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f7c10c 0%,#f7c10c 100%,#f7bd0b 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f7c10c 0%,#f7c10c 100%,#f7bd0b 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7c10c', endColorstr='#f7bd0b',GradientType=0 ); /* IE6-9 */
}
.center_list_item:last-child{
  -webkit-border-radius: 0 0 3px 3px;
          border-radius: 0 0 3px 3px;
}
.center_list_item{
  text-align: center;
  color: #FFF;
  font-size: 16px;
  line-height: 20px;
  padding: 16px 20px;
  display: block;
  border-bottom: 1px dashed #fff28e;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0px 1px 2px #ebb80b;
  cursor: pointer;
}
/*.center_list_item:hover {}*/
.center_list_item:last-child {border-bottom: none;}
.center_list_item:hover,
.center_list_item.active{
  text-shadow: 0px 1px 2px #ed9b0b;
  background: #f99114; /* Old browsers */
  background: -moz-linear-gradient(top,  #f99114 0%, #f9ae08 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f99114), color-stop(100%,#f9ae08)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f99114 0%,#f9ae08 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f99114 0%,#f9ae08 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f99114 0%,#f9ae08 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f99114 0%,#f9ae08 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f99114', endColorstr='#f9ae08',GradientType=0 ); /* IE6-9 */
}
.left_main_box,
.right_main_box{
  width: 368px;
  padding-top: 20px;
}
[class*="button__"],.d_b_1200{
  display: none;
}
[class*="button__"].active{
  display: block;
}
.img_sense2_itm{padding-left: 12px;}
.img_carousel_3_7 img{width: 100%;}
.w210{width: 210px;}
/*=====================> Paragraphs ========================*/

 p { margin-bottom:18px}
/*=====================> margin ========================*/
/*top*/
.mt1{margin-top: 1px;}
.mt2{margin-top: 2px;}
.mt3{margin-top: 3px;}
.mt4{margin-top: 4px;}
.mt5{margin-top: 5px;}
.mt_5{margin-top: -5px;}
.mt6{margin-top: 6px;}
.mt7{margin-top: 7px;}
.mt8{margin-top: 8px;}
.mt9{margin-top: 9px;}
.mt10{margin-top: 10px;}
.mt11{margin-top: 11px;}
.mt12{margin-top: 12px;}
.mt13{margin-top: 13px;}
.mt14{margin-top: 14px;}
.mt15{margin-top: 15px;}
.mt16{margin-top: 16px;}
.mt17{margin-top: 17px;}
.mt18{margin-top: 18px;}
.mt19{margin-top: 19px;}
.mt20{margin-top: 20px;}
/*bottom*/
.mb1{margin-bottom: 1px;}
.mb2{margin-bottom: 2px;}
.mb3{margin-bottom: 3px;}
.mb4{margin-bottom: 4px;}
.mb5{margin-bottom: 5px;}
.mb6{margin-bottom: 6px;}
.mb7{margin-bottom: 7px;}
.mb8{margin-bottom: 8px;}
.mb9{margin-bottom: 9px;}
.mb10{margin-bottom: 10px;}
.mb11{margin-bottom: 11px;}
.mb12{margin-bottom: 12px;}
.mb13{margin-bottom: 13px;}
.mb14{margin-bottom: 14px;}
.mb15{margin-bottom: 15px;}
.mb16{margin-bottom: 16px;}
.mb17{margin-bottom: 17px;}
.mb18{margin-bottom: 18px;}
.mb19{margin-bottom: 19px;}
.mb20{margin-bottom: 20px;}
.mb22{margin-bottom: 22px;}
.mb25{margin-bottom: 25px;}
.mb30{margin-bottom: 30px;}
.mb35{margin-bottom: 35px;}
.mb50{margin-bottom: 50px;}
.mb85{margin-bottom: 85px;}
.mb100{margin-bottom: 100px;}
/*=====================> padding ========================*/
/*top*/
.pt1{padding-top: 1px;}
.pt2{padding-top: 2px;}
.pt3{padding-top: 3px;}
.pt4{padding-top: 4px;}
.pt5{padding-top: 5px;}
.pt6{padding-top: 6px;}
.pt7{padding-top: 7px;}
.pt8{padding-top: 8px;}
.pt9{padding-top: 9px;}
.pt10{padding-top: 10px;}
.pt11{padding-top: 11px;}
.pt12{padding-top: 12px;}
.pt13{padding-top: 13px;}
.pt14{padding-top: 14px;}
.pt15{padding-top: 15px;}
.pt16{padding-top: 16px;}
.pt17{padding-top: 17px;}
.pt18{padding-top: 18px;}
.pt19{padding-top: 19px;}
.pt20{padding-top: 20px;}
.pt31{padding-top: 31px;}
.pt50{padding-top: 50px;}
.pt88{padding-top: 88px;}
.pt100{padding-top: 100px;}
.pt111{padding-top: 111px;}
/*bottom*/
.pb1{padding-bottom: 1px;}
.pb2{padding-bottom: 2px;}
.pb3{padding-bottom: 3px;}
.pb4{padding-bottom: 4px;}
.pb5{padding-bottom: 5px;}
.pb6{padding-bottom: 6px;}
.pb7{padding-bottom: 7px;}
.pb8{padding-bottom: 8px;}
.pb9{padding-bottom: 9px;}
.pb10{padding-bottom: 10px;}
.pb11{padding-bottom: 11px;}
.pb12{padding-bottom: 12px;}
.pb13{padding-bottom: 13px;}
.pb14{padding-bottom: 14px;}
.pb15{padding-bottom: 15px;}
.pb16{padding-bottom: 16px;}
.pb17{padding-bottom: 17px;}
.pb18{padding-bottom: 18px;}
.pb19{padding-bottom: 19px;}
.pb20{padding-bottom: 20px;}
.pb26{padding-bottom: 26px;}
/*left*/
.pl6{padding-left: 6px;}
.pl10{padding-left: 10px;}
.pl14{padding-left: 14px;}
.pl18{padding-left: 18px;}
.pl26{padding-left: 24px;}
.pl26{padding-left: 26px;}

.ml-10{margin-left: -10px;}
.ml-56{margin-left: -56px;}

/*right*/
.pr10{padding-right: 10px;}

/*=====================> Titles ========================*/
h2,h3,h4{
  font-weight:normal;
}
.title{
  font-size: 44px;
  line-height: 54px;
  color:#fff;
  text-transform: uppercase;
}
.title2{
  font-size: 36px;
  line-height: 44px;
  color:#071a22;
  text-transform: uppercase;
  padding-bottom: 24px;
}
.title2:after{
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -49px;
  background: url(../images/title_after.png) 0 0 no-repeat;
  width: 98px;
  height: 8px;
}

.td_und{text-decoration: underline;}
.td_und:hover{text-decoration: none;}

.td_und_no{text-decoration: none;}
.td_und_no:hover{text-decoration: underline;}

.td_und_no_imp{text-decoration: none !important;}


/*================================>> GOOGLE FONTS  <<========================================*/
.op_sans_light{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
.op_sans_normal{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.op_sans_semi{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.op_sans_bold{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.op_sans_extra_bold{
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}
.op_sans_condense{
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 300;
}
.cuprum{
  font-family: 'Cuprum', sans-serif;
  font-weight: 400;
}
/*font-weight*/
.fw_100{font-weight: 100;}
.fw_200{font-weight: 200;}
.fw_300{font-weight: 300;}
.fw_400{font-weight: 400;}
.fw_500{font-weight: 500;}
.fw_600{font-weight: 600;}
.fw_700{font-weight: 700;}
.fw_800{font-weight: 800;}

/*font-size*/
.fz10{font-size: 10px;line-height: 12px;}
.fz11{font-size: 11px;line-height: 13px;}
.fz12{font-size: 12px;line-height: 15px;}
.fz13{font-size: 13px;line-height: 16px;}
.fz14{font-size: 14px;line-height: 17px;}
.fz15{font-size: 15px;line-height: 18px;}
.fz16{font-size: 16px;line-height: 20px;}
.fz17{font-size: 17px;line-height: 21px;}
.fz18{font-size: 18px;line-height: 22px;}
.fz19{font-size: 19px;line-height: 23px;}
.fz20{font-size: 20px;line-height: 24px;}
.fz22_2{font-size: 22px;line-height: 26px;}
.fz22{font-size: 20px;line-height: 1em;}
.fz24{font-size: 24px;line-height: 30px;}
.fz30{font-size: 30px;line-height: 36px;}

.lh20{line-height: 20px;}
.lh22{line-height: 22px;}
/*================================>> hovers <<========================================*/
a{
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
a:hover{
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
a.trs_no{
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}
a.trs_no:hover{
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

/*================================>> Footer <<========================================*/
footer {
  padding:25px 0 15px;
}
/*h2.logo{
  margin-top: 15px;
}*/
h2.logo_footer a{
  text-decoration:none;
  text-indent:-9999px;
  display: block;
  background: url(../images/logo_footer.png) 0 0 no-repeat;
  width: 169px;
  height: 44px;
}
.menu_footer{
  width: 160px;
  margin-right: 39px;
  margin-left: 10px;
}
.menu_footer li{padding-top: 2px;}
.menu_footer li a {
  padding: 0px;
  color: #fff;
  display: inline-block;
}
.menu_footer:nth-child(2){
  margin-right: 58px;
}
.menu_footer:last-child{
  margin-right: -23px;
  margin-left: 0px;
}
footer .soc_text{
  padding-left: 24px;
  padding-top: 1px;
}
.social{
  overflow:hidden;
}
.social a{
  display:block;
  float:left;
  width:32px;
  height:32px;
  overflow:hidden;
  margin-left:20px;
  margin-top: 4px;
}
footer .social a{
  background-color: transparent !important;
}
.social a:first-child{margin: 4px 0 0 14px;}
.social a:last-child{margin: 5px 0 0 15px;}
.desclimer{
  color: #cfdde2;
  text-align: center;
  font-size: 37px;
  line-height: 40px;
  text-transform: uppercase;
  padding: 20px 0;
  font-family: "Open Sans Condensed", sans-serif;
}