.chart{
  width: 320px;
  height: 320px;
  position: relative;
  border: 10px solid #1ccaef;
  border-radius: 50%;
  margin: 68px 0 50px;
}
.chart_text{
  line-height: 320px;
  vertical-align: middle;
}
  .chart_text_inner{
    font-size: 16px;
    line-height: 30px;
    color: #a9a9a9;
    vertical-align: middle;
    display: inline-block;
    width: 147px;
  }

[class^="chart_dot"]{
  position: absolute;
  cursor: pointer;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  white-space: nowrap;
}

  [class^="chart_dot"]:before{
    display: block;
    position: absolute;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    position: absolute;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    font-family: 'Cuprum', sans-serif;
    line-height: 41px;
    background: #fbe816; /* Old browsers */
    background: -moz-linear-gradient(top,  #fbe816 0%, #f7be0b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbe816), color-stop(100%,#f7be0b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fbe816 0%,#f7be0b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fbe816 0%,#f7be0b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fbe816 0%,#f7be0b 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fbe816 0%,#f7be0b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbe816', endColorstr='#f7be0b',GradientType=0 ); /* IE6-9 */
    content: "1"
  }

  .chart_dot1{
    left: 50%;
    top: -52px;
    margin: 0 0 0 -94px;
    padding: 0 0 45px;
  }
    .chart_dot1:before{
      bottom: 0;
      left: 50%;
      margin-left: -20px;
    }

  .chart_dot2{
    left: 100%;
    top: 80px;
    margin: 0 0 0 -20px;
    padding: 4px 0 0 45px;
  }
    .chart_dot2:before{
      top: -2px;
      left: -3px;
      content: "2"
    }

  .chart_dot3{
    left: 100%;
    top: 100%;
    margin: -47px 0 0 -70px;
    padding: 4px 0 0 45px;
  }
    .chart_dot3:before{
      top: -2px;
      left: -3px;
      content: "3"
    }

  .chart_dot4{
    right: 100%;
    top: 100%;
    margin: -47px -70px 0 0px;
    padding: 4px 45px 0 0px;
  }
    .chart_dot4:before{
      top: -2px;
      right: -3px;
      content: "4"
    }

  .chart_dot5{
    right: 100%;
    top: 80px;
    margin: 0px -20px 0 0px;
    padding: 4px 45px 0 0px;
  }
    .chart_dot5:before{
      top: -2px;
      right: -3px;
      content: "5"
    }


.list1{

}
  .list1_item{
    padding: 0 0 0 20px;
    margin-bottom: 5px;
    background: url(../images/marker.png) 10px 10px no-repeat;
  }

[class^="chart_item"]{
  position: absolute;
  width: 320px;
  border-radius: 4px;
  background-color: #f9d411;
  color: #000;
  top: -65px;
  left: 50%;
  text-align: left;
  margin: 0 0 0 -160px;
  padding: 50px 20px;
  min-height: 450px;
  display: none;
}
  .chart_close{
    width: 41px;
    height: 41px;
    position: absolute;
    top: 0;
    left: 50%;
    background: #e7c306 url(../images/chart_close_icon.png) 50% 50% no-repeat;
    border-radius: 41px;
    margin: -18px 0 0 -20px;
    cursor: pointer;
  }

.img_wrap{
  height: 300px;
  line-height: 300px;
  vertical-align: middle;
  text-align: center;
}
  .img_wrap img{
    vertical-align: middle;
  }

.capsule_item1,
.capsule_item2{
  width: 220px;
  padding-bottom: 50px;
  margin: 0 auto;
}
.capsule_item4{height: 600px;}
.light{
  color: #c6d6dd;
}
.capsule_item_description{
  background: url(../images/long_vert_arrow.png) 50% 0 no-repeat;
  padding-top: 50px;
}

.img_capsule_inner{
  opacity: 0;
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
  -moz-transform: translateY(-40px);
  -webkit-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  transform: translateY(-40px);
}

  .active .img_capsule_inner{
    -moz-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-transition-delay: 800ms;
    -o-transition-delay: 800ms;
    transition-delay: 800ms;
    opacity: 1;
  }

.capsule_item2{
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
}
.capsule_item2.active{
  -webkit-transition-delay: 2000ms;
  -o-transition-delay: 2000ms;
  transition-delay: 2000ms;
  opacity: 0;
  visibility: hidden;
}

.capsule_box1{
  height: 333px;
  max-width: 100%;
  background: url(../images/capsule_box_stripe.png) 50% 0 no-repeat;
}
  .capsule_box_inner{
    background: url(../images/capsule_box_inner.png) 50% 0 no-repeat;
    height: 100%;
    opacity: 0;
    vertical-align: middle;
    padding-top: 50px;
  }
  
  .active .capsule_box_inner{
    -webkit-transition-delay: 2000ms;
    -o-transition-delay: 2000ms;
    transition-delay: 2000ms;
    -webkit-transition: all 3500ms ease;
    -moz-transition: all 3500ms ease;
    -ms-transition: all 3500ms ease;
    -o-transition: all 3500ms ease;
    transition: all 3500ms ease;
    opacity: 1;
  }

.show_more_big_btn{
  width: 102px;
  height: 102px;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  border-radius: 102px;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  position: relative;
  background: #fbe715; /* Old browsers */
  background: -moz-linear-gradient(top,  #fbe715 0%, #f7be0b 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbe715), color-stop(100%,#f7be0b)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fbe715 0%,#f7be0b 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fbe715 0%,#f7be0b 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fbe715 0%,#f7be0b 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fbe715 0%,#f7be0b 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbe715', endColorstr='#f7be0b',GradientType=0 ); /* IE6-9 */

}
  .show_more_big_btn:after{
    display: block;
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 21px;
    height: 11px;
    margin: 0 0 0 -10px;
    background: url(../images/more_btn_arrow.png) 0 0 no-repeat;
    content: "";
  }

.capsule_box{
  min-height: 400px;
}
.body_img img{
  width: 100%;
  text-align: center;
}.hide_item:before{
  content: "+";
  color: white;
  position: absolute;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background-color: #F1233B;
  height: 16px;
  line-height: 17px;
  text-align: center;
  padding: 0 3px;
  font-size: 19px;
  font-weight: 600;
  cursor: pointer;
}
.hide_item:hover:before{
  content: "-";
  text-align: center;
  padding: 0px 5px;
  line-height: 13px;
}
.hide_item:hover [class^="show_box_tooltip"]{display: inline-block;}
.hide_box_tooltip_1 .hide_item:before{
  bottom: 260px;
  left: 228px;
}
.hide_box_tooltip_2 .hide_item:before{
  bottom: 300px;
  left: 250px;
}
.hide_box_tooltip_3 .hide_item:before{
  top: 164px;
  left: 170px;
}
.hide_box_tooltip_4 .hide_item:before{
  top: 61px;
  left: 219px;
}
.hide_box_tooltip_5 .hide_item:before{
  top: 28px;
  left: 222px;
}
.hide_box_tooltip_6 .hide_item:before{
  top: -7px;
  left: 245px;
}
.hide_box_tooltip_7 .hide_item:before{
  top: 196px;
  left: 43px;
}
.hide_box_tooltip_8 .hide_item:before{
  top: 196px;
  right: 43px;
}
[class^="show_box_tooltip"]{
  line-height: 32px;
  padding: 0 15px;
  font-size: 14px;
  background-color: #f1233b;
  color: #fff;
  position: absolute;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.show_box_tooltip_1{
  bottom: 252px;
  left: 29px;
}
.show_box_tooltip_2{
  bottom: 292px;
  right: 106px;
}
.show_box_tooltip_3{
  top: 156px;
  left: 196px;
}
.show_box_tooltip_4{
  top: 53px;
  left: 116px;
}
.show_box_tooltip_5{
  top: 20px;
  right: 12px;
}
.show_box_tooltip_6{
  top: -15px;
  left: 150px;
}
.show_box_tooltip_7{
  top: 188px;
  left: 69px;
}
.show_box_tooltip_8{
  top: 188px;
  right: 70px;
}
[class^="show_box_tooltip"].left:before{
  background: url(../images/line_tool.png) 0 0 no-repeat;
  width: 10px;
  height: 2px;
  position: absolute;
  content: "";
  top: 15px;
  right: -10px;
}
[class^="show_box_tooltip"].left:after{
  content: "";
  position: absolute;
  right: -13px;
  top: 0;
  padding-right: 13px;
  height: 100%;
  width: 100%;
}
[class^="show_box_tooltip"].right:before{
  content: "";
  position: absolute;
  left: -13px;
  top: 0;
  padding-left: 13px;
  height: 100%;
  width: 100%;
}
[class^="show_box_tooltip"].right:after{
  background: url(../images/line_tool.png) 0 0 no-repeat;
  width: 10px;
  height: 2px;
  /*padding-right: 10px;*/
  position: absolute;
  content: "";
  top: 15px;
  left: -10px;
}
#slider{
  height: 48px;
  border-radius: 5px;
  position: relative;
  margin-left: 5px;
  background: #7dddfe; /* Old browsers */
  background: -moz-linear-gradient(left,  #7dddfe 0%, #f21d63 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#7dddfe), color-stop(100%,#f21d63)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #7dddfe 0%,#f21d63 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #7dddfe 0%,#f21d63 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #7dddfe 0%,#f21d63 100%); /* IE10+ */
  background: linear-gradient(to right,  #7dddfe 0%,#f21d63 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7dddfe', endColorstr='#f21d63',GradientType=1 ); /* IE6-9 */
}

    .ui-slider-handle{
      width: 26px;  
      height: 34px; 
      display: block;
      bottom: 100%;
      margin-left: -13px;
      position: absolute;
      background: url(../images/slider_handler.png) 0 0 no-repeat;
    }

  #slider:after,
  #slider:before{
    font-size: 14px;
    display: block;
    position: absolute;
    top: 12px;
    color: #000;
  }

  #slider:before{
    left: 20px;
    content: "Нормальное"
  }
  #slider:after{
    right: 20px;
    content: "Критическое"
  }

.scales_box{
  background: url(../images/scales_bg.png) 50% 0 no-repeat;
  text-align: center;
  height: 480px;
}
  .scales_box_inner{
    display: inline-block;
    vertical-align: top;
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
    -webkit-transition: all 1500ms ease;
    -moz-transition: all 1500ms ease;
    -ms-transition: all 1500ms ease;
    -o-transition: all 1500ms ease;
    transition: all 1500ms ease;
    margin-left: -20px;
  }

  .active .scales_box_inner{
    margin-left: 5px;
    -webkit-transition-delay: 1500ms;
    -o-transition-delay: 1500ms;
    transition-delay: 1500ms;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }